body {
    background: #2A1B3D;
    margin: 0;
    background: -webkit-linear-gradient(right, rgba(42, 27, 61, 0.8), rgba(216, 63, 135, 0.8)), url("../pictures/bgpic.jpeg") no-repeat center center fixed ;
    background: linear-gradient(right, rgba(42, 27, 61, 0.8), rgba(216, 63, 135, 0.8)), url("../pictures/bgpic.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

html {
    height: 100%
}

header {
    margin-right: auto;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    
}

h1 {
    font-size: 4.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
}


h2 {
    font-size: 2.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;
    
}

nav {
    background-color: #d83f87;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 20%;

}

nav ul {
    width: 100%;
    left: 0;
    margin:0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    margin:20px 0;
    padding:20px;
    color:#FFEE;
    background-color: #d83f87;
}
nav ul li:hover {
    margin:20px 0;
    padding:20px;
    color:#FFEE;
    background-color: #b87694;
}

a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFEE;
    text-decoration: none;
}

footer {
    background-color: #2A1B3D;
    width: 100%;
    min-height: 50px;
    bottom: 0;
}

#aboutme, #websites, #games {
    background-color: #a483b6; 
    margin: 0;
    left: 0;
    padding: 10px 0;
}

.flex {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    
}

figure {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
	flex-direction: column;	
}

 img {
    width:390px;
    filter:grayscale(100%);
}

 img:hover {
    filter:none;
}

p {
    margin: 10px;
}

@media only screen and (max-width: 870px) {

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;        
    }

    nav {
        background-color: #d83f87;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:0;
    }
    
    nav ul {
        left: 0;
        margin:0;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }

    nav ul li {
        width:100%;
        margin:20px 0;
        padding:20px;
        color:#FFEE;
        background-color: #d83f87;

    }

    nav ul li:hover {
        width:100%;
        margin:20px 0;
        padding:20px;
        color:#FFEE;
        background-color: #b87694;
    }

    .flex {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin: auto;
        overflow-x: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
    figure {
        display: inline-block; 
    }

     img {
        width: 300px;
    }

    
}